.olslide_wrap {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  cursor: default;
}

.olslide_item {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: translate(-100vw, 0);
          transform: translate(-100vw, 0);
}

.olslide_item--prev {
  -webkit-transform: translate(-100vw, 0);
          transform: translate(-100vw, 0);
  -webkit-animation-name: update-prev;
          animation-name: update-prev;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes update-prev {
  0% {
    -webkit-transform: translate(-10vw, 0);
            transform: translate(-10vw, 0);
  }
  100% {
    -webkit-transform: translate(-100vw, 0);
            transform: translate(-100vw, 0);
  }
}

@keyframes update-prev {
  0% {
    -webkit-transform: translate(-10vw, 0);
            transform: translate(-10vw, 0);
  }
  100% {
    -webkit-transform: translate(-100vw, 0);
            transform: translate(-100vw, 0);
  }
}

.olslide_item--current {
  /* position: relative; */
  -webkit-transform: translate(-10vw, 0);
          transform: translate(-10vw, 0);
  -webkit-animation-name: update-current;
          animation-name: update-current;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.olslide_item--current::after {
  -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes update-current {
  0% {
    -webkit-transform: translate(90vw, 0);
            transform: translate(90vw, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0);
    -webkit-transform: translate(-10vw, 0);
            transform: translate(-10vw, 0);
  }
}

@keyframes update-current {
  0% {
    -webkit-transform: translate(90vw, 0);
            transform: translate(90vw, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0);
    -webkit-transform: translate(-10vw, 0);
            transform: translate(-10vw, 0);
  }
}

.olslide_item--next {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(90vw, 0);
          transform: translate(90vw, 0);
  -webkit-animation-name: update-next;
          animation-name: update-next;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.olslide_item--next::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

@-webkit-keyframes update-next {
  0% {
    -webkit-transform: translate(100vw, 0);
            transform: translate(100vw, 0);
  }
  100% {
    -webkit-transform: translate(90vw, 0);
            transform: translate(90vw, 0);
  }
}

@keyframes update-next {
  0% {
    -webkit-transform: translate(100vw, 0);
            transform: translate(100vw, 0);
  }
  100% {
    -webkit-transform: translate(90vw, 0);
            transform: translate(90vw, 0);
  }
}

.overlay-1 li img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
}
